* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* */

.container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #000;
}

h1 {
    color: #ffffff;
    margin-bottom: 20px;
}

#app input[type="text"] {
    font-size: 18px;
    padding: 12px;
    margin-right: 20px;
}

#app button {
    font-size: 18px;
    padding: 12px;
}

#app ul {
    margin: 20px 20px;
    padding: 20px;
    list-style: none;
    background-color: #ddd;
    border-radius: 4px;
}

#app li {
    font-size: 18px;
}

#app a {
    margin: 0 20px;
    text-decoration: none;
    color: red;
    font-size: 18px;
}